{% extends 'projetos/base.html' %}

{% block body %}

{% if projetos %}

    <h2>Lista de Projetos</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Departamento</th>
            <th>Nome</th>
            <th>Horas Necessárias</th>
            <th>Horas Realizadas</th>
            <th>Prazo Estimado</th>
            <th>último Calculo do Prazo</th>
            <th>Supervisor</th>
            <th>Horas de Supervisão</th>
            <th>Data da Criação</th>
            <th>Última Atualização</th>
        </tr>
        {% for projeto in projetos %}
        <tr>
            <td>{{ projeto.id }}</td>
            <td>{{ projeto.departamento }}</td>
            <td>{{ projeto.nome }}</td>
            <td>{{ projeto.horas_necessarias }}</td>
            <td>{{ projeto.horas_realizadas }}</td>
            {% if projeto.prazo_estimado.year == 9999 %}
            <td>Sem prazo</td>
            {% else %}
            <td>{{ projeto.prazo_estimado }}</td>
            {% endif %}
            <td>{{ projeto.ultimo_calculo_horas }}</td>
            <td>{{ projeto.supervisor }}</td>
            <td>{{ projeto.horas_supervisao }}</td>
            <td>{{ projeto.data_criacao }}</td>
            <td>{{ projeto.data_atualizacao }}</td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h2>Nenhum projeto registrado</h2>
{% endif %}

{% endblock %}