{% extends 'departamentos/base.html' %}

{% block body %}

{% if departamento %}
    <h2>Departamento: {{ departamento.nome }}</h2>
    <br>
    {% if funcionarios %}
        <table>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Sexo</th>
                <th>Nascimento</th>
                <th>Possui CNH</th>
                <th>Salário</th>
                <th>Carga Horária Semanal</th>
                <th>Horas Livres</th>
                <th>Data de Criação</th>
                <th>Data de Atualização</th>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.rg }}</td>
                <td>{{ funcionario.sexo_id }}</td>
                <td>{{ funcionario.nascimento }}</td>
                <td>{{ funcionario.possui_cnh }}</td>
                <td>{{ funcionario.salario }}</td>
                <td>{{ funcionario.carga_horaria_semanal }}</td>
                <td>{{ funcionario.horas_livres }}</td>
                <td>{{ funcionario.data_criacao }}</td>
                <td>{{ funcionario.data_atualizacao }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>Nenhum funcionário no departamento</h2>
    {% endif %}
{% else %}
    <h2>Departamento não registrado</h2>
{% endif %}
{% endblock %}