{% extends 'departamentos/base.html' %}

{% block body %}

{% if departamento %}

    {% if funcionarios %}
        <h2>Funcionários no departamento {{ departamento }}</h2>
        <br>
        <table border="1" style="border: 1px solid">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>RG</th>
                <th>Sexo</th>
                <th>Nascimento</th>
                <th>Possui CNH</th>
                <th>Salário</th>
                <th>Carga Horária Semanal</th>
                <th>Horas Disponíveis</th>
                <th>Data do Registro</th>
                <th>Última Atualização</th>
            </tr>
            {% for funcionario in funcionarios %}
            <tr>
                <td>{{ funcionario.id }}</td>
                <td>{{ funcionario.nome }}</td>
                <td>{{ funcionario.cpf }}</td>
                <td>{{ funcionario.rg }}</td>
                <td>{{ funcionario.sexo_id }}</td>
                <td>{{ funcionario.nascimento }}</td>
                {% if funcionario.possui_cnh %}
                <td>Sim</td>
                {% else %}
                <td>Não</td>
                {% endif %}
                <td>{{ funcionario.salario }}</td>
                <td>{{ funcionario.carga_horaria_semanal }}</td>
                <td>{{ funcionario.horas_livres }}</td>
                <td>{{ funcionario.data_criacao }}</td>funcionarios
                <td>{{ funcionario.data_atualizacao }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
    <h2>Nenhum funcionário registrado no departamento {{ departamento }}</h2>
    {% endif %}
{% else %}
    <h2>ID não corresponde a um departamento registrado</h2>
{% endif %}
{% endblock %}