{% extends 'departamentos/base.html' %}

{% block body %}

{% if departamentos %}
    <table border="1" style="border: 1px solid">
        <tr>
            <th> ID </th>
            <th> Nome </th>
            <th> Data da Criação </th>
            <th> Última Atualizacao </th>
        </tr>
        {% for departamento in departamentos %}
            <tr>
                <td>{{ departamento.id }}</td>
                <td>{{ departamento }}</td>
                <td>{{ departamento.data_criacao }}</td>
                <td>{{ departamento.data_atualizacao }}</td>
            </tr>
        {% endfor %}
{% else %}
<h2> Nenhum departamento registrado </h2>
{% endif %}

{% endblock %}