{% extends 'funcionarios/base.html' %}

{% block body %}
{% if funcionarios %}
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>CPF</th>
            <th>RG</th>
            <th>Sexo</th>
            <th>Nascimento</th>
            <th>Possui CNH</th>
            <th>Salário</th>
            <th>Departamento</th>
            <th>Carga Horária Semanal</th>
            <th>Horas Disponíveis</th>
            <th>Registro</th>
            <th>Última Alteração</th>
        </tr>
    {% for funcionario in funcionarios %}
        <tr>
            <td>{{ funcionario.id }}</td>
            <td>{{ funcionario }}</td>
            <td>{{ funcionario.cpf }}</td>
            <td>{{ funcionario.rg }}</td>
            <td>{{ funcionario.sexo }}</td>
            <td>{{ funcionario.nascimento }}</td>
            {% if funcionario.possui_cnh %}
            <td>Sim</td>
            {% else %}
            <td>Não</td>
            {% endif %}
            <td>{{ funcionario.salario }}</td>
            <td>{{ funcionario.departamento }}</td>
            <td>{{ funcionario.carga_horaria_semanal }}</td>
            <td>{{ funcionario.horas_livres }}</td>
            <td>{{ funcionario.data_criacao }}</td>
            <td>{{ funcionario.data_atualizacao }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1>Sem funcionários</h1>
{% endif %}

{% endblock %}