{% extends 'funcionarios/base.html' %}

{% block body %}

{% if projetos or projetos_supervisionados %}
    {% if projetos %}
    <h2> Projetos que {{ funcionario }} atua</h2>
    <table border="1" style="border: 1px solid">
        <tr> Projetos </tr>
        <tr>
            <th>Projeto</th>
            <th>Horas Dedicadas</th>
        </tr>
        {% for projeto in projetos %}
        <tr>
            <td>projeto.projeto</td>
            <td>projeto.horas</td>
        </tr>
        {% endfor %}
    </table>
    <br><br><br><br><br>
    {% endif %}
    {% if projetos_supervisionados %}
    <table>
        <tr>Projetos Supervisionados</tr>
        <tr>
            <th>Projeto</th>
            <th>Horas Dedicadas</th>
        </tr>
        {% for projeto_supervisionado in projetos_supervisionados %}
        <tr>
            <td>{{ projeto_supervisionado.projeto }}</td>
            <tr>{{ projeto_supervisionado.horas_supervisao }}</tr>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
{% else %}
    <h1>{{ funcionario }} não atua em nenhum projeto</h1>
{% endif %}

{% endblock %}